<div style="text-align: center; list-style: none;">
<h1 class="title">Early Bird</h1>
<% if @api_count %>
  <h1 class="title"><%= @api_count %> API calls made in <%= @time_elapsed %> seconds.</h1>
<% end %>
<div class="stuff">
<%= form_tag(query_path, :method => "get", :class => "search_form") do %>
    <label> Business: </label>
    <%= text_field_tag :business, params[:business], placeholder: "tacos, cheap dinner, Max's", size: 30, :required => true %>

    <label> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Zip code: </label>
    <%= text_field_tag :location, params[:location], placeholder: "location by zip code", :required => true, :pattern => "[0-9]{5}" %>
    &nbsp; &nbsp;
    <%= submit_tag "Search", :name => nil %>
<% end %>

<h3><i><%= random %></i></h3>
</center>
</div>
<br>
<br>
<br>
<br>
<br>


<% if @no_results %>
  <%= @no_results %>
<% else %>
  <div class="results_box">
  <br>
  <% if @potential_clients %>
      <h2> Potential Clients </h2>
      <% @potential_clients.each do |business| %>
        <%= business["name"] %><br>
        <a href="<%= business["url"] %>">Yelp Page</a>
        <button> Save Client </button>
        <br>
        <br>
      <% end %>
  <% end %>
  </div>
<% end %>

</div>

<div id="slideshow">
<%= image_tag("macbook") %>
<%= image_tag("code") %>
<%= image_tag("lee") %>
</div>
